// Variables
%epic {
	display: flex;
	width: 18vw;
	margin: auto;
	cursor: pointer;
	margin-bottom: 20px;
	text-transform: uppercase;
}

// Styling
.epic {
	@extend %epic;
	height: 70px;
	border: $defaultBorder;
}

.epicStatusMarker {
	height: 100%;
	border-right: $defaultBorder;
	min-width: 10px;
}

.epicTitle {
	margin: auto;
	text-align: center;
}

.epicInProgress {
	background-color: $epicYellow;
}

.epicSoon {
	background-color: $epicBlue;
}

.epicLater {
	background-color: $epicRed;
}

.epicDone {
	background-color: $epicGreen;
}
