%epic {
	cursor: pointer;
	width: 18vw;
	display: flex;
	margin: auto;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.epic {
	@extend %epic;
	height: 70px;
	border: $defaultBorder;
}

.epicStatusMarker {
	border-right: $defaultBorder;
	height: 100%;
	min-width: 10px;
}

.epicTitle {
	text-align: center;
	margin: auto
}

.epicInProgress {
	background-color: $epicYellow;
}

.epicSoon {
	background-color: $epicBlue;
}

.epicLater {
	background-color: $epicRed;
}

.epicDone {
	background-color: $epicGreen;
}
