.backlog {
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: #F5F7F9;
	padding: 50px;
}

.backlog-filters {
	display: flex;
	cursor: pointer;
	flex-direction: row;
	border-bottom: $defaultBorder;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.backlog-filter {
	margin: 8px;
}

.backlog-tableHeader {
	display: flex;
	flex-direction: row;
}
