// ariables for view
$backlogIDSpacing: 10%;
$backlogAuthorSpacing: 30%;
$backlogDateSpacing: 25%;
$backlogEpicSpacing: 30%;
$backlogStatusSpacing: 30%;

// Regular styling
.backlog {
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: #F5F7F9;
	padding: 50px;
	margin-bottom: 60px;
}

.backlog-main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.backlog-filters {
	display: flex;
	cursor: pointer;
	flex-direction: row;
	border-bottom: solid 1px $darkGrey;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.backlog-filter {
	padding: 12px;
	color: $darkGrey;
}

.backlog-filter.active {
	color: black;
	border-bottom: 2px solid $primaryBlue;
}

.backlog-tableHeader > div {
	margin: 10px;
}

.backlog-tableHeader {
	display: flex;
	flex-direction: row;
	padding: 8px;
	text-align: left;
}

.backlog-tableHeader-updateDate, .backlog-tableHeader-creationDate {
	width: $backlogDateSpacing;
}

.backlog-tableHeader-author {
	width: $backlogAuthorSpacing;
}

.backlog-tableHeader-epicName {
	width: $backlogEpicSpacing;
}

.backlog-tableHeader-status {
	width: $backlogEpicSpacing;
}

.backlog-tableHeader-id {
	width: $backlogIDSpacing;
}
