// Colors
$yellow: #FFF2CC;
$darkYellow: #D6B656;
$blue: #DAE8FC;
$darkBlue: #6C8EBF;
$red: #F8CECC;
$darkRed: #B85450;
$green: #D5E8D4;
$darkGreen: #82B366;

// Fonts
$mainFonts: 'Lexend Deca', Tahoma, sans-serif;
