// Application colours
$veryLightGrey: #FAFAFA;
$lightGrey: #8F8F8F;
$darkGrey: #878787;
$almostBlack: #5F6267;

$primaryBlue: #2980B9;
$darkerPrimaryBlue: #3498DB;

$red: #E74C3C;
$darkerRed: #CA4133;

$red: #e74c3c;
$darkerRed: #ca4133;

// Colours for epics
$epicYellow: #FFF2CC;
$epicDarkYellow: #D6B656;
$epicBlue: #DAE8FC;
$epicDarkBlue: #6C8EBF;
$epicRed: #F8CECC;
$epicDarkRed: #B85450;
$epicGreen: #D5E8D4;
$epicDarkGreen: #82B366;

// Fonts
$mainFonts: 'Lexend Deca', Tahoma, sans-serif;

// Quicks
$defaultBorder: 1px solid black;
