// Application colours
$veryLightGrey: #fafafa;
$lightGrey: #8f8f8f;
$darkGrey: #878787;
$almostBlack: #5f6267;

$primaryBlue: #2980b9;
$darkerPrimaryBlue: #3498db;

$red: #e74c3c;

// Colours for epics
$epicYellow: #FFF2CC;
$epicDarkYellow: #D6B656;
$epicBlue: #DAE8FC;
$epiDcarkBlue: #6C8EBF;
$epicRed: #F8CECC;
$epicDarkRed: #B85450;
$epicGreen: #D5E8D4;
$epicDarkGreen: #82B366;

// Fonts
$mainFonts: 'Lexend Deca', Tahoma, sans-serif;

// Quicks
$defaultBorder: 1px solid black;
