// Local variables
$toolBarContentColor: #99A0AF;
$toolbarPadding: 25px;

%toolBarContent {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	justify-content: center;
	user-select: none;
	outline: none;

	i {
		height: 100%;
		margin: 0 16px;
		font-size: 35px;
		cursor: pointer;

		&:hover {
			color: #788195;
		}
	}
}

// Styling
.toolbar {
	display: flex;
	width: 100vw;
	height: 60px;
	color: $toolBarContentColor;
	background-color: #34495E;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	justify-content: space-between;
}

.toolbar-roadmapName {
	@extend %toolBarContent;
	margin: auto;
	padding-left: $toolbarPadding;
	justify-content: flex-start;
	cursor: pointer;

	&:hover {
		color: #788195;
	}

	i {
		font-size: 18px;
	}
}

.toolbar-tools {
	@extend %toolBarContent;
	margin: auto
}

.toolbar-advancedFeatures {
	@extend %toolBarContent;
	margin: auto;
	justify-content: flex-end;
	padding-right: $toolbarPadding;
}
