// Local variables
$toolBarContent: #99a0af;

%toolBarHover {
	color: #788195;
}

%toolbarContent {
	flex-basis: 100%;
	text-align: center;

	i {
		font-size: 40px;
		height: 100%;
		&:hover {
			@extend %toolBarHover;
		}
	}
}

// Styling
.toolbar {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100vw;
	height: 60px;
	background-color: #34495e;
	display: flex;
	flex: 1 1 1;
	color: $toolBarContent;
}

.toolbar-roadmapName {
	@extend %toolbarContent;
	text-align: left;
	margin-left: 25px;
}

.toolbar-tools {
	@extend %toolbarContent;

}

.toolbar-advancedFeatures {
	@extend %toolbarContent;

}
