// Local variables
$toolBarContentColor: #99a0af;
$toolbarPadding: 25px;

%toolBarHover {
	color: #788195;
}

%toolBarContent {
	flex-basis: 100%;
	align-items: center;
	justify-content: center;
	display: flex;

	i {
		font-size: 35px;
		height: 100%;
		margin: 0 16px;

		&:hover {
			@extend %toolBarHover;
		}
	}
}

// Styling
.toolbar {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100vw;
	height: 60px;
	background-color: #34495e;
	display: flex;
	color: $toolBarContentColor;
	justify-content: space-between;
}

.toolbar-roadmapName {
	@extend %toolBarContent;
	text-align: left;
	padding-left: $toolbarPadding;
	justify-content: left;
}

.toolbar-tools {
	@extend %toolBarContent;
	margin: auto

}

.toolbar-advancedFeatures {
	@extend %toolBarContent;
	margin: auto;
	justify-content: right;
	padding-right: $toolbarPadding;
}
