@import '../../utilities/variables.scss';

.lane {
    width: 20vw
}

.laneTitle {
    width: 250px;
    height: 80px;
    border: 1px solid $darkYellow;
    background-color: $yellow;
    text-align: center;
    margin: auto
}
