// @TODO: use flexbox properly rather than hacking your way in
.lane {
	display: inline-block;
	width: 22vw;
}

.laneContent:hover > .lane-ghostEpic {
	display: flex;
}

.laneHeader {
	display: inline-flex;
	margin: auto;
	width: 20vw;
	height: 80px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-left: 1vw;
	text-transform: uppercase;
}

.laneTitle {
	margin: auto;
	text-align: center;
}

.laneContent {
	height: 100%;
	border-right: $defaultBorder;
	margin-top: 20px
}

.lane:last-of-type {
	.laneContent {
		border-right: none
	}
}

.laneInProgress {
	border: 1px solid $epicDarkYellow;
	background-color: $epicYellow;
}

.laneSoon {
	border: 1px solid $epicDarkBlue;
	background-color: $epicBlue;
}

.laneLater {
	border: 1px solid $epicDarkRed;
	background-color: $epicRed;
}

.laneDone {
	border: 1px solid $epicDarkGreen;
	background-color: $epicGreen;
}

.lane-ghostEpic {
	@extend %epic;
	display: none;
	border: 2px $lightGrey dashed;
	color: $lightGrey;
	text-align: center;
	padding: 8px;

	i {
		height: 100%;
		min-width: 10px;
		text-align: center;
		padding: 4px;
		padding-right: 6px
	}
}

.lane-ghostEpic:hover {
	border: 2px $almostBlack dashed;
	color: $almostBlack;
}
