.modal-mask {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	transition: opacity .3s ease;
	align-items: center;
	justify-content: center;
}

.modal-container {
	width: 800px;
	margin: 0 auto;
	border-radius: 5px;
	background-color: #FFFFFF;
	max-height: 80vh;
	overflow: auto;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
}

.modal-header {
	display: flex;
	margin: 32px;
	margin-bottom: 0;
}

.modal-close {
	display: flex;
	color: $lightGrey;
	margin-left: auto;
	font-size: 18px;
	align-items: baseline;
}

.modal-close:hover {
	color: $almostBlack;
}

.modal-data {
	margin: 32px;
}

.modal-form {
	margin-top: 32px;
}

.modal-form-title {
	font-weight: bold;
	font-size: 28px;
}

.modal-actions {
	display: flex;
	border-radius: 0 0 5px 5px;
	background-color: $veryLightGrey;
	margin-top: 24px;
	border-top: 1px solid $lightGrey;
	padding: 26px 30px;
	align-items: right;
	justify-content: right;

	.bttn-secondary {
		margin-right: 24px
	}
}
