.modal-onboarding-opening {
	font-size: 18px
}

.modal-onboarding-signature {
	font-size: 14px;
	font-style: italic;
	margin-bottom: 0;
}

.modal-onboarding-signature:last-of-type {
	display: inline;
}

.modal-onboarding-rocket {
	font-style: intial;
	display: inline;
	margin-left: 6px
}
