// Internal files
@import './utilities/variables.scss';
@import './components/Epic/Epic.scss';
@import './components/Lane/Lane.scss';
@import './components/Toolbar/Toolbar.scss';

// External ressources
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body {
    font-family: $mainFonts;
    text-transform: uppercase;
}

.app {
    margin: 30px
}
