// Internal files
@import './utilities/variables.scss';
@import './components/Epic/Epic.scss';
@import './components/Lane/Lane.scss';
@import './components/Toolbar/Toolbar.scss';
@import './components/Modal/Modal.scss';

// External ressources
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body {
    font-family: $mainFonts;
}

h2 {
	font-size: 32px;
}

label {
	text-transform: uppercase;
	color: $lightGrey;
	font-size: 18px;
}

select {
	appearance: none;
	border: 1px solid $lightGrey;
	border-radius: 3px;
	width: 240px;
	background-image: url(../src/assets/chevron-down-solid.svg) no-repeat;
	font-size: 24px;
	box-shadow: 1px 1px #888888;
	color: $lightGrey;
}

input {
	font-size: 24px;
	border: none;
}

.app {
    display: flex;
}

.roadmap {
    display: flex;
    margin: 30px;
}

button {
	border: none;
	padding: 12px;
	font-family: $mainFonts;
}

.bttn-secondary {
	background: none
}

.bttn-primary {
	background-color: $primaryBlue;
	color: white
}
