// Local variables
%epicCardDates {
	width: 15%;
}

// Regular CSS
.backlog-epicCard {
	display: flex;
	margin: 10px 0;
	border: 1px solid $darkGrey;
	border-radius: 4px;
	padding: 8px;
	text-transform: capitalize;
	flex-basis: 100px
}

.backlog-epicCard > div {
	margin: 10px;
	align-self: center;
}

.epicList-statusBadge {
	display: flex;
	color: $veryLightGrey;
	border-radius: 4px;
	padding: 4px;
	align-self: center;
	width: 15%;
	text-align: center;
}
.badgeinProgress {
	background-color: $epicDarkYellow;
}

.badgesoon {
	background-color: $epicDarkBlue;
}

.badgelater {
	background-color: $epicDarkRed;
}

.badgedone {
	background-color: $epicDarkBlue;
}

.epicList-author {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
}

.epicList-userProfilePicture {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	margin-right: 10px;
}

.epicCard-creationDate, .epicCard-updateDate {
	@extend %epicCardDates;
}

.epicCard-epicName {
	width: 20%;
}
